html.theme-dark .group-wWM3zP_M- {
  background-color: #070f15;
}

html.theme-dark .toolbar-2n2cwgp5- {
  border: 1px solid rgb(38,45,52);
  background-color: #070f15;
}

html.theme-light .toolbar-2n2cwgp5- {
  border: 1px solid rgb(38,45,52);
  background-color: white;
}